html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  margin: 0;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

header {
  z-index: 1;
  display: block;
  position: fixed;
  width: 100%;
  background-color: #ff2a2a;
  padding: 1rem;
}

header .desktop-nav {
  display: block;
}

@media (max-width: 767px) {
  header .desktop-nav {
    display: none;
  }
}

header .desktop-nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

header .desktop-nav ul li {
  margin: 0 1rem;
}

header .desktop-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header .mobile-nav {
  display: none;
}

@media (max-width: 767px) {
  header .mobile-nav {
    display: block;
  }
}

header .mobile-nav .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

header .mobile-nav .hamburger-menu .bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

header .mobile-nav .mobile-menu-items {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  background-color: #ff2a2a;
}

header .mobile-nav .mobile-menu-items li {
  margin-bottom: 0.5rem;
}

header .mobile-nav .mobile-menu-items li a {
  color: #fff;
  text-decoration: none;
}

header .mobile-nav .mobile-menu-toggle {
  display: none;
}

header .mobile-nav .mobile-menu-toggle:checked ~ .hamburger-menu .bar:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

header .mobile-nav .mobile-menu-toggle:checked ~ .hamburger-menu .bar:nth-child(2) {
  opacity: 0;
}

header .mobile-nav .mobile-menu-toggle:checked ~ .hamburger-menu .bar:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

header .mobile-nav .mobile-menu-toggle:checked ~ .mobile-menu-items {
  display: block;
}

#logoContainer {
  z-index: 2;
  margin: 0 5px 0 10%;
  position: fixed;
  padding-top: 8px;
}

#logo {
  width: 64px;
}

#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  padding: 2rem;
  border: #c4c4c4 solid 1px;
}

main .hero {
  position: relative;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 2rem;
}

main .hero h1 {
  font-size: 4em;
}

@media (max-width: 414px) {
  main .hero h1 {
    font-size: 2em;
  }
}

main .hero h1,
main .hero p {
  color: #fff;
}

@media (max-width: 312px) {
  main .hero p {
    font-size: 70%;
  }
}

@media (max-width: 415px) {
  main .hero {
    margin-top: 30%;
  }
}

main .hero .btn {
  display: inline-block;
  background-color: #ff2a2a;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

main .hero .btn:hover {
  background-color: #f60000;
}

main .about {
  margin-top: 250px;
}

@media (max-width: 1053px) {
  main .about {
    margin-top: 30%;
  }
}

main .about,
main .cases,
main .team,
main .contact {
  margin-bottom: 3rem;
}

main .about h2,
main .cases h2,
main .team h2,
main .contact h2 {
  color: #ff2a2a;
  margin-bottom: 1rem;
}

main .case-list,
main .team-members {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

main .case-item,
main .member-item {
  padding: 10px;
  background: #f0f0f0;
  text-align: center;
  border-radius: 16px;
}

main s
.contact form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

main s
.contact form input,
main s
.contact form textarea {
  grid-column: 1 / -1;
  padding: 0.5rem;
  border: 1px solid #f9b217;
  border-radius: 4px;
}

main s
.contact form textarea {
  grid-column: 1 / -1;
}

main s
.contact form button {
  grid-column: 1 / -1;
  background-color: #ff2a2a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

main s
.contact form button:hover {
  background-color: #f60000;
}

#banner {
  position: absolute;
  margin-left: -32px;
  width: 1053px;
  height: 592px;
  top: 50px;
}

@media (max-width: 1053px) {
  #banner {
    width: 104%;
    height: auto;
  }
}

footer {
  background-color: #ff2a2a;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 767px) {
  header .desktop-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .desktop-nav ul li {
    margin: 0.5rem 0;
  }
  header .mobile-nav .hamburger-menu {
    float: right;
    margin-right: 40px;
  }
  header .mobile-nav .hamburger-menu .bar {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  header .mobile-nav .mobile-menu-items {
    margin-top: 30px;
  }
  header .mobile-nav .mobile-menu-items li {
    margin-bottom: 0.5rem;
  }
  main {
    padding: 1rem;
  }
  main .hero .btn {
    font-size: 1rem;
  }
  main .case-list,
  main .team-members {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main .contact form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main .contact form textarea {
    grid-column: auto;
  }
  main .contact form button {
    grid-column: auto;
  }
  footer {
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */